@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

/* The @tailwind directives are used to import Tailwind CSS utility classes. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS class definition for a '.home' class selector. */

.home {
  padding: 10px;
  background: hsla(215, 50%, 23%, 1);
  background: radial-gradient(circle, hsla(215, 50%, 23%, 1) 20%, hsla(0, 0%, 3%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(215, 50%, 23%, 1) 20%, hsla(0, 0%, 3%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(215, 50%, 23%, 1) 20%, hsla(0, 0%, 3%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1D3557", endColorstr="#080808", GradientType=1 );
}



body {
  font-family: 'Poppins', sans-serif;
}


.bg-gradient {
  background: hsla(215, 50%, 23%, 1);
  background: radial-gradient(circle, hsla(215, 50%, 23%, 1) 20%, hsla(0, 0%, 3%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(215, 50%, 23%, 1) 20%, hsla(0, 0%, 3%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(215, 50%, 23%, 1) 20%, hsla(0, 0%, 3%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1D3557", endColorstr="#080808", GradientType=1);
  min-height: 100vh; /* Ensures the background covers the whole viewport height */
}
